.cover__background_image {
    position: relative;
    z-index: 1;
    object-fit: cover;
    max-width: calc(100% - 88px);
    margin-left: 44px;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
    .cover__background_image {
            position: relative;
            z-index: 1;
            object-fit: cover;
            max-width: calc(100%);
            margin-left: 0;
            box-sizing: border-box;
        }
}