.lead__image_picture {
    margin-top: 64px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .lead__image_picture {
            margin-top: 56px;
            width: calc(100% + 48px);
            margin-left: -24px;
        }
}
@media screen and (max-width: 767px) {
    .lead__image_picture {
            width: calc(100% + 32px);
            margin-top: 40px;
            margin-left: -16px;
        }
}