.pages {
    background-color: #2A2C2F;
    font-family: 'inter';
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    padding: 28px 48px 56px;
    align-items: center;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__link_lang {
    display: flex;
    gap: 18px;
    line-height: 28px;
    font-size: 30px;
}

.header__link_lang_ru {
    text-decoration: underline;
    color: white;
}

.header__link_lang_ru:hover {
    opacity: 0.5;
}

.header__link_lang_en {
    font-weight: 300px;
}

.header__link_lang_en:hover {
    opacity: 0.5;
}

.lead {
    display: flex;
    justify-content: center;
    background-color: #2A2C2F;
    padding: auto auto auto 92px;
}

.lead__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    min-width: 320px;
}

.lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 100%;
    max-height: 100%;
    min-width: 288px;
    min-height: 88px;
    border: 2px solid red;
    text-align: center;
    font-weight: 800;
    margin: 0 auto;
}

.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    min-height: 72px;
    border: 2px solid red;
    text-align: center;
    font-weight: 400;
    margin: 32px auto 0;
}

.lead__image {
    border: 2px solid red;
    margin: 64px auto 0;
    max-width: 100%;
}

.lead__image-subline {
    font-size: 10px;
    line-height: 14px;
    min-width: min-content;
    min-height: min-content;
    border: 2px solid red;
    margin: 8px auto auto 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.intro {
    width: 100%;
    border: 2px solid blue;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.intro__container {
    width: 85%;
    border: 2px solid white;
    padding-top: 94px;
}

.intro__title {
    font-size: 54px;
    line-height: 58px;
    border: 2px solid red;
    text-align: start;
    font-weight: 800;
    margin: 0 auto;
    min-width: 288px;
    max-width: 690px;
}

.intro__main {
    font-size: 16px;
    line-height: 1.63;
    border: 2px solid red;
    text-align: start;
    font-weight: normal;
    margin: 40px auto 0;
    min-width: 288px;
    max-width: 690px;
}

.intro__info {
    font-size: 12px;
    line-height: 18px;
    border: 2px solid red;
    text-align: start;
    font-weight: normal;
    margin: 33px auto 0;
    min-width: 288px;
    max-width: 690px;
}

.intro__info_text {
    margin: 0;
}

.span {
    font-weight: bold;
}

.gallery {
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 92px;
}

.gallery__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    grid-template-rows: auto;
    border: 2px solid red;
    gap: 16px;
}

.gallery__image {
    border: 2px solid red;
    width: calc(100%);
}

.places {
    display: flex;
    justify-content: center;
    align-items: center;

}

.places__container {
    display: flex;
    flex-direction: column;
    border: 4px solid blue;
    max-width: 100%;
    gap: 80px;
    padding-top: 92px;
}

.places__card {
    display: flex;
    justify-content: center;
    gap: 40px;
    border: 4px solid yellow;
}

.places__card_column {
    flex-direction: column;
    border: 2px solid red;
    max-width: calc(82%/2);
}


.places__card_title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 800;
    max-width: 100%;
    margin-bottom: 48px;
}


.places__card_image {
    max-width: 100%;
}

.places__card_url {}

.places__card_url_top {
    color: #aaa;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin: 106px auto 12px;
}

.places__card_url_bottom {
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.places__card_url_bottom:hover {
    opacity: 0.5;
}

.places__card_desription {
    font-size: 18px;
    line-height: 1.63;
    font-weight: normal;
    margin: 48px auto 0;
}

.places__card_desription_text {
    margin: 0 auto 26px;
}

.cover {
    width: 100%;
}

.cover__container {
    border: 2px solid blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover__background_image {
    max-width: 100vw;
    min-width: 100%;
    max-height: 100vh;
    position: relative;
    z-index: 0;
}

@media screen and (min-width: 1280px) {
    .cover__background_image {
        max-width: 100%;
        min-width: 10%;
    }
}

.cover__background_image_overlay {
    position: relative;
    background-color: #2A2C2F;
    z-index: 2;
    opacity: 0.5;
}

.cover__background_title {
    border: 2px solid yellow;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    max-height: 100vh;
    top: 0;
    gap: 32px;
    z-index: 3;
}

.title {}

.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 800;
    max-width: 560px;
    border: 2px solid red;
    margin: 0px;
}

.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    max-width: 360px;
    border: 2px solid red;
    margin: 0;
}


@media screen and (max-width: 768px) {
    .places__card_title {
        font-size: 42px;
        line-height: 46px;

        .places__card_desription {
            font-size: 18px;
            line-height: 1.63;
            font-weight: normal;
            margin: 48px auto 0;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;

}

.footer__nav {
    display: flex;
    gap: 18px;
    list-style: none;
}

.footer__nav_list:hover {
    opacity: 0.5;
}

.footer__nav_list_link {
    text-decoration: none;
    color: white;
}

.footer__nav_style {
    font-size: 16px;
    line-height: 18px;
}

.footer__author_style {
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 64px;
    }

    .footer__nav {
        flex-direction: column;
        margin-bottom: 48px;
    }
}